* {
  box-sizing: border-box;

}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
:focus {
  color: red;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.gallery {
  display: flex;
  gap: 20px;

}

.gallery>li {
  border: thick double #32a1ce;
  width: 310px;
  height: 210px;
}

.task-02-ul {
  list-style: auto;
}